header {
    background-color: crimson;
    color: aliceblue;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: black;
    overflow: auto;
    margin: 15px;
    text-align: center;
}