body {
    width: 80%;
    margin: auto;
    background-color: #210024;
}

header {
    border: 5px solid #F0386B;
    background-color: #FFD972;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

* {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    border: 5px solid #F0386B;
    background-color: #FFD972;
    margin-bottom: 35px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

article {
    border: 5px solid #F0386B;
    background-color: #FFD972;
    margin-bottom: 10px;
    padding: 10px;
}

Article img {
    max-width: 20%;
    text-wrap: wrap;
}

footer {
    border: 5px solid #F0386B;
    background-color: #FFD972;
    padding: 10px;
    text-align: center;
}

a {
    color: #2AB7CA;
}